{% extends 'web/ven_navigation.html' %}
{% block ven %}active{% endblock %}

{% block content %}
  <ul class="list-group">
  <h1>Report capabilities of {{ ven.oadr_ven_name }} <small><a href="{{ url_for('visual.view_ven_list') }}">(back to list)</a></small></h1>
  <form method="post">
      <table class="table">
          <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Subscription</th>
            </tr>
          </thead>
          <tbody>
            {% for report, data_points in report_data_points.items() %}
            <tr>
                <th scope="row">{{ report.ei_report_id }}</th>
                <td>{{ report.report_name }}</td>
                <td></td>
                </td>
            </tr>

            {% for data in data_points["data_points"] %}
                {% for k, v in data.reporting_items.items()  %}
                <tr>
                    <td></td>
                    <td>{{ data.rid }}.{{ k }}</td>
                    <td>
                        <div class="custom-control custom-checkbox col-sm">
                            <input type="checkbox" class="custom-control-input" name="r{{ report.ei_report_id }}-{{ data.rid }}-{{ k }}" {% if data.reporting_items[k].subscribed == True %} checked="checked" {% endif %}>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            {% endfor %}
            {% for data in data_points["devices"] %}
                {% for k, v in data.status.items()  %}
                <tr>
                    <td></td>
                    <td>{{ data.rid }}.{{ k }}</td>
                    <td>
                        <div class="custom-control custom-checkbox col-sm">
                            <input type="checkbox" class="custom-control-input" name="r{{ report.ei_report_id }}-{{ data.rid }}-{{ k }}" {% if data.status[k].subscribed == True %} checked="checked" {% endif %}>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            {% endfor %}
            {% endfor %}
          </tbody>
      </table>
      <button type="submit">subscribe to selected reports</button>
  </form>
  </ul>
{% endblock %}