{% extends 'basic.html' %}

{% block content %}
  <ul class="list-group">
  <h1>Report capabilities of {{ ven.oadrVenName }}</h1>
  <form method="post">
      {% for report in report_list %}
          <li class="list-group-item">
              <div class="row">
                  <div class="col-sm">
                      {{ report.reportID }}: {{ report.name }}
                  </div>
                  <div class="custom-control custom-checkbox col-sm">
                    <input type="checkbox" class="custom-control-input" name="r{{ report.reportID }}" {% if report.subscribed == True %} checked="checked" {% endif %}>
                    <label class="custom-control-label" forName="r{{ report.reportID }}">Subscribed</label>
                  </div>

              </div>
          </li>
      {% endfor %}
    <button type="submit">subscribe to selected reports</button>
  </form>
  </ul>
{% endblock %}